body {
    background-color: #F7F7F7;
}

p {
    font-family: 'Courier New', 'Open Sans', sans-serif;
    font-size: 12;
}

h1 {
    font-family: 'Courier New', 'Titillium Web', sans-serif;
    /* font-weight: 700; */
    font-size: 21;
    color: #F7F7F7;
}
h2 {
    font-family: 'Courier New', 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 18;
    text-transform: uppercase;
    color: #383838;
}
li {
    font-family: 'Courier New', 'Open Sans', sans-serif;
    font-size: 12;
}
.content {
    padding-bottom: 100px;
}
.heading {
    background-color: #383838;
    padding-top: 20px;
}

.main-content {
    padding-top: 20;
}

.pink {
    background-color: pink;
}

.credits {
    font-size: 12;
}
